@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEEF3;
    font-family: 'Kodchasan';
    
    a {
        color: black;
        text-decoration: none;
    }
}

header {
    @include flex-center();

    img {
        margin-left: 1vw;
    }
}

nav {
    display: flex;
    height: 5vh;
}

ul {
    @include flex-center();

    flex-direction: row;
    li {
        list-style: none;
        font-size: 2rem;
        margin-right: 2vw;
    }
}

#banner {
    width: 100vw;
    max-height: 320px;
    object-fit: cover;
    
}

section {
    @include flex-center();

    padding: 3% 10%;
}

#novidade {
    text-align: center;
    div {
        max-width: 55%;
    }
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

p {
    font-size: 2rem;
    margin-top: 5%;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}
